<style>
    form > div {
        display: flex;
        margin: 20px 0px 20px 0px;
    }

    form > div > input[type=checkbox] {
        margin-right: 20px;
        transform: translate(5px, 5px) scale(1.5);
    }

    form > div > input[type=email] {
        margin-left: 10px;
        transform: translate(0, -5px);
        width: 100%;
    }

    form > button:hover {
        box-shadow: 0px 4px 8px rgb(38 38 38 / 20%);
    }

</style>

<form style="display: flex; flex-direction: column;">
    <div>
        <label for="get-involved-email">Email:</label>
        <input id="get-involved-email" type="email" placeholder="Your email" required autocomplete="on">
    </div>
    <div>
        <input id="consent-get-involved-email" type="checkbox" required>
        <label for="consent-get-involved-email">I hereby consent to the Cue Band <a href="{{site.base_url}}/privacy" target="_blank">Privacy Policy</a>.</label>
    </div>
    <div>
        <input id="receive-get-involved-email" type="checkbox" required>
        <label for="receive-get-involved-email">By ticking this box you are agreeing to receive Cue Band emails. You can withdraw your consent at any time. Please refer to our <a href="{{site.base_url}}/privacy" target="_blank">Privacy Policy</a> or Contact Us for more details.</label>
    </div>
    <button type="submit" style="height: 45px; background-color: #E5261F; color: white; border: 0">Send</button>
</form>