<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{ '/images/logo/logo_2.png' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Cue Band - Wearables for Parkinson's">
  <meta name="description" content="Cue Band, funded by Parkinson's UK, is developing cueing devices to diminish drooling symptoms of people living with Parkinson's.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cue.band/">
  <meta property="og:title" content="Cue Band - Wearables for Parkinson's">
  <meta property="og:description" content="Cue Band, funded by Parkinson's UK, is developing cueing devices to diminish drooling symptoms of people living with Parkinson's.">
  <meta property="og:image" content="https://raw.githubusercontent.com/cueband/cue-band-website/main/images/site-preview.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://cue.band/">
  <meta property="twitter:title" content="Cue Band - Wearables for Parkinson's">
  <meta property="twitter:description" content="Cue Band, funded by Parkinson's UK, is developing cueing devices to diminish drooling symptoms of people living with Parkinson's.">
  <meta property="twitter:image" content="https://raw.githubusercontent.com/cueband/cue-band-website/main/images/site-preview.png">





  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="BTSNYBWP" defer></script>
  <!-- / Fathom -->
</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ "/assets/js/scripts.js" | relative_url }}"></script>
</body>
</html>
